.popup {
    width: $popup-width;
    height: auto;
    position: fixed;
    top: 0;
    left: calc((100% - #{$popup-width}) / 2);
    background: $popup-bg-color;
    color: $popup-color;
    padding: 50px;
    z-index: 1000;
    transition: all $base-duration*2 $base-timing;
    border: $base-border;
    box-sizing: border-box;
    text-align: center;

    &.hide {
        transform: translateY(-100%);
    }

    .closeButton {
        position: absolute;
        top: 10px;
        right: 10px;
        color: $action-color;
        cursor: pointer;
        font-size: $base-font-size * 1.5;
    }

    form {
        text-align: left;
        max-width: 80%;
        margin: auto;
    }
}